*{
    padding: 0;
    margin: 0;
    border: 0;
    }
    *,*:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
    :focus,:active{outline:none;}
    a:focus, a:active{outline:none;}
    
    nav,footer,header,aside{display: block;}
    
    html, body{
    height: 100%;
    width:100%;
    font-size:100%;
    line-height:1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    }
    input, button, textarea{font-family: inherit;}
    
    input:-ms-clear{display: none;}
    button {cursor: pointer;}
    button::-moz-focus-inner{padding:0;border:0;}
    a,a:visited{text-decoration:none;}
    a:hover{text-decoration: none;}
    ul li{list-style: none;}
    img{vertical-align: top;}
    
    h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
    
    /*................................*/

@font-face {
    font-family: 'AleoB';
    src: url(../assets/fonts/Aleo-Bold.ttf);
}
@font-face {
    font-family: 'AleoBI' ;
    src: url(../assets/fonts/Aleo-BoldItalic.ttf);
}
@font-face {
    font-family: 'AleoR';
    src: url(../assets/fonts/Aleo-Regular.ttf);
}
@font-face {
    font-family: "MargraB" ;
    src: url(../assets/fonts/Magra-Bold.ttf);
}
@font-face {
    font-family: 'MagraR' ;
    src: url(../assets/fonts/Magra-Regular.ttf);
}
@font-face {
    font-family: 'RedHatI' ;
    src: url(../assets/fonts/RedHatText-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'RedHatR';
    src: url(../assets/fonts/RedHatText-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'RedHatB';
    src: url(../assets/fonts/);
}
@font-face{
    font-family: "AleoI";
    src: url(../assets/fonts/Aleo-Italic.ttf)
}
:root{
    --magra-text: "MargraB";
    --redhatB: "RedHatB";
    --redhatR: "RedHatR";
    --aleoB: "AleoB";
    --aleoIB: 'AleoBI';
    --aleoI: "AleoI";
    --aleoR: 'AleoR';
    --red-trsp-color: rgba(242, 120, 92, 0.7);
    --blue-trsp-color: rgba(13,96,111, 0.7);
    --white-trsp-color: 	rgb(255,255,255, 0.5);
    --main-white: #FFFFFF;
    --main-red: rgba(242, 120, 92);
    --main-blue: rgba(13,96,111);
}
body{
    max-width: 1440px;
}
@media all and (min-width:390px) and (max-width:800px) {
    body{
        max-width: 390px;
    }
}
.wrapper{
    background:  no-repeat url(../assets/images/garrett-parker-DlkF4-dbCOU-unsplash.jpg);
    background-position: top;
    height:765px;
}
header{
    width: 100%;
    height: 90px;
    background-color: var(--red-trsp-color);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo{
    display: flex;
    flex-direction: row;
    margin-left: 2em;
}
h1{
    font-family: var(--magra-text);
    color: var(--main-white);
    font-size: 2.3em;
    margin-left: 0.3em;
}
ul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--redhatB) ;
    font-weight: 600;
    width:527px;
    color:var(--main-white);
    font-size: 1.1em;
    margin-right: 1.5em;
    letter-spacing: 0.03em;
}
.login{
    background-color: var(--main-blue);
    font-family: var(--redhatB);
    font-size: 1.2em;
    font-weight: 700;
    color: var(--main-white);
    border: 1px solid var(--main-blue);
    border-radius: 0.7em;
    padding: 10px 30px;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16) ;
    margin-right: 2.2em;
}
.preview>div{
    margin: 2.5em 0 18.5em 8.5em;
}
h2{
    font-family: AleoB;
    font-size: 5.6em;
    letter-spacing: 0.01em;
    line-height: 1.2em;
    color: var(--main-white);
}
h5{
    margin-top: 2em;
    letter-spacing: 0.06em;
    color: var(--main-white);
    font-family: var(--aleoIB);
    font-size: 1.3em;
}
.preview div div{
    background-color: var(--main-white); 
    border: 1px solid var(--main-white);
    border-radius: 1em;
    margin-top: 3.5em;
    padding: 1.1em 1.2em 1.1em 3em;
    width: 67.5%;
    height: 6.7em;
    color: var(--main-red);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
input{
    font-family: var(--aleoI);
    font-size: 1.6em;
    width: 40vw;
    background: rgb(255,255,255, 0)   ;
}
input::placeholder{
    color: var(--main-red);
    letter-spacing: 0.04em; 
}
.planning{
    width: 18.2rem;
    font-family: var(--redhatR);
    font-size: 1.75em;
    letter-spacing: 0.008em;
    font-weight: 600;
    background-color: var(--main-blue);
    border: 1px solid var(--main-blue);
    border-radius: 0.5em;
    padding: 0.5em 1.2em 0.5em 1.5em;
    color: var(--main-white);
}
/* .search__block{
    background: rgb(255,255,255, 0.7);
} */
/* .
}
@media all and (min-width:390px) and (max-width:800px) {
    .wrapper{
        width: 390px;
        background: no-repeat url(../assets/images/garrett-parker-DlkF4-dbCOU-unsplash_2.jpg);
        object-fit: contain;
        border-radius: 2em;
    }
}
@media all and (min-width:390px) and (max-width:800px) {
    header{
        
        background:linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) );
        box-shadow: none;
    }
}

@media all and (min-width:390px) and (max-width:800px) {
    .logo{
        position:relative;
        top: 38px;
        left: -178px;
    }
}


@media all and (min-width:390px) and (max-width:800px) {
    h1{
        display: none;
    }
    nav{
        display:none;
    }
    .login{
        display: none;
    }
}

.burger__menu{
    display: none;
}
@media all and (min-width:390px) and (max-width:800px) {
    .burger__menu{
        display:flex;
        flex-direction: column;
        row-gap: 4px;
        position: absolute;
        top: 50px;
        left: 340px;
        width: 25px;
        height: 30px;
        

    }
    .burger__menu > div{
        height: 3px;
        width: 25px;
        background-color: var(--main-white);
    }
    



@media all and (min-width:390px) and (max-width:800px) {
    h2{
        display: none;
    }
}

@media all and (min-width:390px) and (max-width:800px) {
    .preview  h5{
        display:none;
    }
}

@media all and (min-width:390px) and (max-width:800px) {
    .preview div div {
        width: 360px;
        height: 48px;
        margin: 7.6em 0 0 -7.4em;
        border-radius: 1.2em;
    } 
}

/* @media all and (min-width:390px) and (max-width:800px) {
    .search__block{
        width: 
    }
} 

@media all and (min-width:390px) and (max-width:800px) {
    input{
        font-size: 01em;
    }
}


@media all and (min-width:390px) and (max-width:800px) {
    .planning{
        font-size: 0.8em;
        width: 20em;
        height: 2.8em;
        border-radius: 1.2em;
        margin: -0.7em 0em 0 3.8em ;
    }
}
.steps{
    margin-left: auto; 
    width: 1177px;
    height: 10%;
    margin: 24.5em 0 0 9.5em;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.steps__block{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between ;
    margin-top: 3.25em;
}
h3 {
    font-family: var(--redhatR);
    font-size: 2.8em;
    font-weight: 700;
    color: var(--main-red);
    letter-spacing: 0.03em;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.icon:nth-child(2){
    margin-left: 5em;
}
.icon-elem{
    background-color: var(--main-red);
    width: 7.2em;
    height: 7.2em;
    border: 1px solid var(--main-red);
    border-radius: 1.2em;
}
.icon-elem>svg{
    display: block;
    margin: 1.9em auto;
    
}
.icon>p{
    font-family: var(--aleoR);
    font-weight: 400;
    font-size: 1.4em;
    color: var(--main-blue);
    margin-top: 1.6em;
    letter-spacing: 0.003em;
}
.destinations{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7.6em;
}
.slider{
    display: flex;
    flex-direction: row;
    column-gap: 4.3em;
    margin-top: 3.8em;
    
}
.slider-pics > img{
    border: 1px solid var(--main-white);
    border-radius: 1.4em;
}
.slider-pics > p{
    position: relative;
    left: 0.5em;
    bottom: 2.45em;
    font-size: 2.4em;
    font-weight: 700;
    color: var(--main-white)
}
.round-nav > div{
    width: 1.5em;
    height:1.5em;
    background-color: var(--main-red);
    border: 1px solid var(--main-red);
    border-radius: 50%;
}
.round-nav{
    margin-top: -11px;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}
.round-nav:first-child{
    background-color: var(--red-trsp-color);
}
.find-more-button{
    border: 1px solid var(--main-red);
    background-color: var(--main-red);
    border-radius: 0.55em;
    padding: 0.4em 1.6em;
    font-family: var(--redhatR);
    font-weight: 600;
    font-size: 1.6em;
    color: var(--main-white);
    letter-spacing: 0.04em;
    margin-top: 1.7em;
}
span{
    font-size: 1.4em;
}
.stories{
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-trsp-color);
}
.stories__frame{
    width: 85.65em;
    margin-top: 6.5em;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}
.stories__block{
    display: flex;
    flex-direction: row;
    column-gap: 2.9em;
}
.stories__block>img{
    border-radius: 1em;
    box-shadow: 0px 4px 4px var(--blue-trsp-color);
    width: 400px;
    height: 250px;
}
h4{
    font-family: var(--aleoB);
    font-size: 2.3em;
    color: var(--main-blue);
    font-weight: 500;
    letter-spacing: 0.025em;
}
.article{
    margin-top: 1.55em;
    max-width: var(--red-trsp-color);
    font-family: var(--aleoR);
    font-size: 1.43em;
    line-height: 1.2em;
}
/* .stories__block:last-child{
    margin: 7px 0px 0 0px;
} */
.read-more{
    text-decoration: underline;
    font-weight: 600;
    font-family: var(--aleoR);
    font-size: 1.43em;
}
.last-storie-pic{
    min-width: 400px;
    /* height: 250px; 
}
.see-more-button{
    background-color: var(--main-red);
    font-family: var(--redhatR);
    font-weight: 600;
    font-size: 1.6em;
    padding: 0.45em 2em;
    border-radius: 0.5em;
    color:var(--main-white);
    margin: 1.8em 0 1.7em 0;
}
footer{
    margin-top: 1.5em; 
    font-family: var(--redhatB);
    font-weight: 700;
    font-size: 1.15em;
}
footer > div{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    column-gap: 20em;
}
.social-media-block{
    justify-self: center;
    margin: 0 7.4em 0.5em 0;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    column-gap: 1.4em;
} */