*{
    padding: 0;
    margin: 0;
    border: 0;
    }
    *,*:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
    :focus,:active{outline:none;}
    a:focus, a:active{outline:none;}
    
    nav,footer,header,aside{display: block;}
    
    html, body{
    height: 100%;
    width:100%;
    font-size:100%;
    line-height:1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    }
    input, button, textarea{font-family: inherit;}
    
    input:-ms-clear{display: none;}
    button {cursor: pointer;}
    button::-moz-focus-inner{padding:0;border:0;}
    a,a:visited{text-decoration:none;}
    a:hover{text-decoration: none;}
    ul li{list-style: none;}
    img{vertical-align: top;}
    
    h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
    
    /*................................*/

@font-face {
    font-family: 'AleoB';
    src: url(../assets/fonts/Aleo-Bold.ttf);
}
@font-face {
    font-family: 'AleoBI' ;
    src: url(../assets/fonts/Aleo-BoldItalic.ttf);
}
@font-face {
    font-family: 'AleoR';
    src: url(../assets/fonts/Aleo-Regular.ttf);
}
@font-face {
    font-family: "MargraB" ;
    src: url(../assets/fonts/Magra-Bold.ttf);
}
@font-face {
    font-family: 'MagraR' ;
    src: url(../assets/fonts/Magra-Regular.ttf);
}
@font-face {
    font-family: 'RedHatI' ;
    src: url(../assets/fonts/RedHatText-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'RedHatR';
    src: url(../assets/fonts/RedHatText-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'RedHatB';
    src: url(../assets/fonts/);
}
@font-face{
    font-family: "AleoI";
    src: url(../assets/fonts/Aleo-Italic.ttf)
}
:root{
    --magra-text: "MargraB";
    --redhatB: "RedHatB";
    --redhatR: "RedHatR";
    --aleoB: "AleoB";
    --aleoIB: 'AleoBI';
    --aleoI: "AleoI";
    --aleoR: 'AleoR';
    --red-trsp-color: rgba(242, 120, 92, 0.7);
    --blue-trsp-color: rgba(13,96,111, 0.7);
    --main-white: #FFFFFF;
    --main-red: rgba(242, 120, 92);
    --main-blue: rgba(13,96,111);
}

.wrapper{
    width: 1440px;
    background: no-repeat url(../assets/images/garrett-parker-DlkF4-dbCOU-unsplash.jpg);
}
header{
    width: 100%;
    height:6.3vw;
    background-color: var(--red-trsp-color);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo{
    display: flex;
    flex-direction: row;
    margin-left: 2em;
}
h1{
    font-family: var(--magra-text);
    color: var(--main-white);
    font-size: 2.3em;
    margin-left: 0.3em;
}
ul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--redhatB) ;
    font-weight: 600;
    width:527px;
    color:var(--main-white);
    font-size: 1.1em;
    margin-right: 1.5em;
    letter-spacing: 0.03em;
}
.login{
    background-color: var(--main-blue);
    font-family: var(--redhatB);
    font-size: 1.2em;
    font-weight: 700;
    color: var(--main-white);
    border: 1px solid var(--main-blue);
    border-radius: 0.7em;
    padding: 10px 30px;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16) ;
    margin-right: 2.2em;
}
.preview{
    
}
.preview>div{
    margin: 2.5em 0 18.5em 8.5em;
}
h2{
    font-family: AleoB;
    font-size: 5.6em;
    letter-spacing: 0.01em;
    line-height: 1.2em;
    color: var(--main-white);
}
h5{
    margin-top: 2em;
    letter-spacing: 0.06em;
    color: var(--main-white);
    font-family: var(--aleoIB);
    font-size: 1.3em;
}
.preview div div{
    background-color: var(--main-white);
    border: 1px solid var(--main-white);
    border-radius: 1em;
    margin-top: 3.5em;
    margin-left: -0.2em;
    padding: 1.1em 1.2em 1.1em 3em;
    width: 64em;
    color: var(--main-red);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
input{
    font-family: var(--aleoI);
    font-size: 1.6em;
    width: 40vw;
}
input::placeholder{
    color: var(--main-red);
    letter-spacing: 0.04em; 
    
}
.planning{
    font-family: var(--redhatR);
    font-size: 1.8em;
    font-weight: 600;
    background-color: var(--main-blue);
    border: 1px solid var(--main-blue);
    border-radius: 0.5em;
    padding: 0.5em 1.2em 0.5em 1.5em;
    color: var(--main-white);
}
 .steps{
    width: 1177px;
    height: 10%;
    margin: 24.5em 0 0 9.5em;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.steps__block{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between ;
    margin-top: 3.25em;
}
h3 {
    font-family: var(--redhatR);
    font-size: 2.8em;
    font-weight: 700;
    color: var(--main-red);
    letter-spacing: 0.03em;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.icon:nth-child(2){
    margin-left: 5em;
}
.icon-elem{
    background-color: var(--main-red);
    width: 7.2em;
    height: 7.2em;
    border: 1px solid var(--main-red);
    border-radius: 1.2em;
}
.icon-elem>svg{
    display: block;
    margin: 1.9em auto;
    
}
.icon>p{
    font-family: var(--aleoR);
    font-weight: 400;
    font-size: 1.4em;
    color: var(--main-blue);
    margin-top: 1.6em;
    letter-spacing: 0.003em;
}
.destinations{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7.6em;
}
.slider{
    display: flex;
    flex-direction: row;
    column-gap: 4.3em;
    margin-top: 3.8em;
}
.slider-pics > img{
    border: 1px solid var(--main-white);
    border-radius: 1.4em;
}
.slider-pics > p{
    position: relative;
    left: 0.5em;
    bottom: 2.45em;
    font-size: 2.4em;
    font-weight: 700;
    color: var(--main-white)
}
.round-nav > div{
    width: 1.5em;
    height:1.5em;
    background-color: var(--main-red);
    border: 1px solid var(--main-red);
    border-radius: 50%;
}
.round-nav{
    margin-top: -11px;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}
.round-nav:first-child{
    background-color: var(--red-trsp-color);
}
.find-more-button{
    border: 1px solid var(--main-red);
    background-color: var(--main-red);
    border-radius: 0.55em;
    padding: 0.4em 1.6em;
    font-family: var(--redhatR);
    font-weight: 600;
    font-size: 1.6em;
    color: var(--main-white);
    letter-spacing: 0.04em;
    margin-top: 1.7em;
}
span{
    font-size: 1.4em;
}